extends layout

block header
  .title
    h1 Page not found

block content
  .illustration.not-found
    .rocket

block footer
  .annotation.info
    p Potential solution: edit your current address from https to http & hit enter :)
