extends layout

block header
  .intro
    .illustration
      .rocket
    .pilots
      h1 Publisher Onboarding
      h2 Get verified as a Mineful Publisher and receive your app's mined earnings in fiat or crypto - directly to your bank account or wallet.
      a.button(href='/pilots/signup') Start Verficiation

block content
  .features
    section.earnings
      h3 Monetize Active Users
      p Offer your active free-tier or non-paying users an alternative way to pay via cryptocurrency mining, and receive increased value from your products.
    section.app
      h3 Increase Conversions
      p Improve conversion rates of your free trial subscribers by allowing users to pay while they use your product and avoid giving a credit card.
    section.schedule
      h3 Reduce Churn
      p Reduce involuntary churn rates and reclaim churned active users by offering an alternative way for them to continue paying for your product.

block footer
  .annotation
    p Copyright © 2018 Mineful Inc. All rights reserved.
