extends layout

block header
  .intro
    .illustration
      .rocket
    .pilots
      h1 Mineful Payments Framework
      h2 Get verified as a Mineful Publisher & receive your app's mined earnings in fiat or crypto - directly & instantly to your bank account or wallet.
      a.button(href='/pilots/signup') Start Verification

block content
  .features
    section.schedule
      h3 Monetize Active Users
      p Offer your active free-tier or non-paying users an alternative way to pay and receive increased value from your products.
      h3 Increase Conversions
      p Improve conversion rates of your free trial subscribers by allowing users to pay while they use your product and avoid giving a credit card.
      h3 Reduce Churn
      Reduce involuntary churn rates and reclaim churned active users by offering an alternative way for them to continue paying for your product.

block footer
  .annotation
    p Copyright © 2018 Mineful Inc. All rights reserved.
