doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@stripe')
    meta(name='twitter:title', content='Mineful')
    meta(name='twitter:description', content='The Mineful Payments Framework easily integrates into any desktop application, enabling users to pay you with their spare computing power.')
    meta(name='twitter:image', content='https://cdn.getforge.com/mineful.com/1538468868/images/888f8224-b846-4e93-94d9-7fa0128b8371.png', sizes='128x128')
    title Mineful
    link(rel='stylesheet', type='text/css', href='/stylesheets/rocketrides.css')
    link(rel='icon', type='image/png', sizes='64x64', href='/images/favicon.png')

  body
    header
      #top
        a.rocketrides(href='/') Mineful
        if pilot
          .links
            if pilot.stripeAccountId
              a(href='/pilots/dashboard') Dashboard
            a(href='/pilots/logout') Logout
        else
          a.arrow(href='/pilots/login') Login
      block header

    #content
      block content

    footer
      block footer

    script(src='/javascripts/onboarding.js')
