extends layout

block header
  .title
    h1 Apply to become a Mineful Publisher
  nav
    ol
      li(class=(step == 'account' ? 'active' : 'done')) Create Your Account
      li(class=(step == 'profile' ? 'active' : step != 'account' ? 'done' : '')) Complete Your Profile
      li(class=(step == 'payments' ? 'active' : step == 'done' ? 'done' : '')) Setup Payments

block content
  section.form.account
    if error
      p.error= error

    case step
      when 'account'
        form(method='POST', autocomplete='off')
          fieldset
            .row(label='Email')
              input(type='email', name='email', placeholder='oskar@spotify.com', required, autofocus)
            .row(label='Password')
              input(type='password', name='password', placeholder='••••••••', required)
          input(type='submit', value='Create Account')

      when 'profile'
        form(method='POST', autocomplete='off')
          .pilot-options
            label.pilot-option
              input(type='radio', name='pilot-type', value='individual', id='po-individual', checked=true)
              span Individual
            label.pilot-option
              input(type='radio', name='pilot-type', value='company', id='po-company')
              span Company

          h4.pilot-header Personal Information
          fieldset
            .row.pilot-info.individual(label='* First Name')
              input(type='text', name='firstName', placeholder='Oskar')
            .row.pilot-info.individual(label='* Last Name')
              input(type='text', name='lastName', placeholder='Stål')
            .row.pilot-info.company.hidden(label='* Company Name')
              input(type='text', name='businessName', placeholder='Infinity & Beyond LLC')
            .row(label='Address')
              input(type='text', name='address', placeholder='185 Berry St')
            .row(label='Postal Code')
              input(type='text', name='postalCode', placeholder='94107')
            .row(label='City')
              input(type='text', name='city', placeholder='San Francisco')
            .row.select(label='Country')
              select(name='country')
                option(value='US') United States
          aside (*) indicates required fields for this demo.
          
          input(type='submit', value='Save Profile')

      when 'payments'
        h2 Connect your Mineful Publisher account to Stripe
        p We leverage Stripe to make sure you get paid on time and keep your personal and bank details secure.
        a.button(href='/pilots/stripe/authorize') Setup Your Payment Method

      when 'done'
        .checkmark
        h2 You’re ready to get paid!
        p Download the app, fire up your rocket, and start taking your first passengers!
        a.button(href='/pilots/dashboard') View Your Pilot Dashboard

block footer
  .annotation.info

    case step
      when 'account'
      p Copyright © 2018 Mineful Inc. All rights reserved.
        
      when 'profile'
      p Copyright © 2018 Mineful Inc. All rights reserved.

      when 'payments'
      p Copyright © 2018 Mineful Inc. All rights reserved.

      when 'done'
      p Copyright © 2018 Mineful Inc. All rights reserved.
